body, header {
    background-color: #D3D3D3;
}

.dark-text {
    color: #36454F;
}

.title-container {
    margin-top: 100px;
    margin-left: 200px;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid transparent;
    animation: typing 6s steps(23)
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

i {
    color:black;
}

a {
    text-decoration: none;
}

.lorenzo-img {
    border-radius: 150px;
}

@media (max-width: 1300px) {
    .title-container {
        margin-left: 0;
        margin-top: 100px;
    }
    .lorenzo-img {
        height: 700px;
        width: auto
    }
}

/* Projetos */

.projects-container {
    height: 500px;
}

.projects-container .border {
    min-height: 300px;
}