/* Padrão */

:root {
  --primary-bg-color: #d3d3d3;
  --primary-text-color: #212529;
  --secondary-bg-color: #0b1215;
  --secondary-text-color: #faf9f6;
}

/* Separar as classes corretamente */

body,
header,
.form-control {
  background-color: var(--primary-bg-color);
}

.text-color {
  color: var(--primary-text-color);
}

.border-color {
  border-color: var(--primary-text-color);
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: var(--primary-text-color);
}

.teste1 {
  background-color: var(--secondary-text-color);
} /* Não mexer na cor */

.darkModeBtn {
  cursor: pointer;
}

/* Título */

.title-container {
  margin-top: 100px;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid transparent;
  animation: typing 6s steps(23);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

i {
  color: black;
}

a {
  text-decoration: none;
}

.lorenzo-img {
  border-radius: 150px;
}

@media (max-width: 1300px) {
  .title-container {
    margin-left: 0;
    margin-top: 100px;
  }
  .lorenzo-img {
    height: 700px;
    width: auto;
  }
}

/* Projetos */
.projects-container {
  height: auto;
}

.projects-container .border {
  min-height: 300px;
}

/* Sobre mim */
.about-container {
  margin-top: 100px;
}

.project img {
  width: 100%;
  height: auto;
}

.about-text {
  margin-left: 100px;
}

@media (max-width: 768px) {
  .projects-container .border {
    min-height: auto;
  }
  .about-text {
    margin-left: 50px;
  }
}

/* Contato */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.footer .row {
  justify-content: space-between;
  align-items: center;
}

.footer i {
  margin: 0 10px;
}
